/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #444444;
  --ifm-color-primary-dark: #3d3d3d;
  --ifm-color-primary-darker: #3a3a3a;
  --ifm-color-primary-darkest: #303030;
  --ifm-color-primary-light: #4b4b4b;
  --ifm-color-primary-lighter: #4e4e4e;
  --ifm-color-primary-lightest: #585858;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #c0c0c0;
  --ifm-color-primary-dark: #adadad;
  --ifm-color-primary-darker: #a3a3a3;
  --ifm-color-primary-darkest: #868686;
  --ifm-color-primary-light: #d3d3d3;
  --ifm-color-primary-lighter: #dddddd;
  --ifm-color-primary-lightest: #fafafa;
}
